$form-range-track-width:          100%;
$form-range-track-height:         .3rem;
$form-range-track-cursor:         pointer;
 $form-range-track-bg:             "#ffffff";
$form-range-track-border-radius:  1rem;
$form-range-track-border-color:   '#fff';
// $form-range-track-box-shadow:     $box-shadow-inset;
//import bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss'

